<mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field style="width:350px">
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field style="width:350px">
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field style="width:350px">
            <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field style="width:350px">
            <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field style="width:350px">
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
        <br>
        <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
        <br>
        <button mat-raised-button color="primary">Register</button>
    </form>
</mat-card>