/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #369;
}

body {
    background: #eee;
}

.card {
    margin-top: 8px;
}